@model POSSystem.ViewModel.MonitoringViewModel

@{
    ViewBag.Title = "Dashboard";
}


<!--Info Box -->
@using (Html.BeginForm("DashBoard", "Home", FormMethod.Post, new { area = "", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@ViewBag.Label1</span>
                    <span class="info-box-number">@ViewBag.Info1</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@ViewBag.Label2</span>
                    <span class="info-box-number">@ViewBag.Info2</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-thumbs-up"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@ViewBag.Label3</span>
                    <span class="info-box-number">@ViewBag.Info3</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-thumbs-down"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@ViewBag.Label4</span>
                    <span class="info-box-number">@ViewBag.Info4</span>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-line-chart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@ViewBag.Label5</span>
                    <span class="info-box-number">@ViewBag.Info5</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: @ViewBag.InfoPercentage5%"></div>
                    </div>
                    <span class="progress-description">
                        @ViewBag.InfoPercentage5 % Increase in 30 Days
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-ticket"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@ViewBag.Label6</span>
                    <span class="info-box-number">@ViewBag.Info6</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: @ViewBag.InfoPercentage6%"></div>
                    </div>
                    <span class="progress-description">
                        @ViewBag.InfoPercentage6 % Increase in 30 Days
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-cloud-upload"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@ViewBag.Label7</span>
                    <span class="info-box-number">@ViewBag.Info7</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: @ViewBag.InfoPercentage7%"></div>
                    </div>
                    <span class="progress-description">
                        @ViewBag.InfoPercentage7 % Increase in 30 Days
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@ViewBag.Label8</span>
                    <span class="info-box-number">@ViewBag.Info8</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: @ViewBag.InfoPercentage8%"></div>
                    </div>
                    <span class="progress-description">
                        @ViewBag.InfoPercentage8 % Increase in 30 Days
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Info Box -->

    <div class="form-horizontal" style="">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <label class="control-label"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-responsive" style="width:100%;border:none">
                                            <tbody>
                                                <tr style="display:none">
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts1" value="@ViewBag.Opts1" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts2" value="@ViewBag.Opts2" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts3" value="@ViewBag.Opts3" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts4" value="@ViewBag.Opts4" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts5" value="@ViewBag.Opts5" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts6" value="@ViewBag.Opts6" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts7" value="@ViewBag.Opts7" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts8" value="@ViewBag.Opts8" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts9" value="@ViewBag.Opts9" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts10" value="@ViewBag.Opts10" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts11" value="@ViewBag.Opts11" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txtOpts12" value="@ViewBag.Opts12" />
                                                    </th>
                                                </tr>
                                                <tr style="display:none">
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts1" value="@ViewBag.ChartOpts1" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts2" value="@ViewBag.ChartOpts2" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts3" value="@ViewBag.ChartOpts3" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts4" value="@ViewBag.ChartOpts4" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts5" value="@ViewBag.ChartOpts5" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts6" value="@ViewBag.ChartOpts6" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts7" value="@ViewBag.ChartOpts7" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts8" value="@ViewBag.ChartOpts8" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts9" value="@ViewBag.ChartOpts9" />
                                                    </th>
                                                    <th scope="row">
                                                        <input type="text" class="form-control" id="txt2Opts10" value="@ViewBag.ChartOpts10" />
                                                    </th>
                                                    <th scope="row">
                                                        @*<input type="text" class="form-control" id="txt2Opts11" value="@ViewBag.Opts11" />*@
                                                    </th>
                                                    <th scope="row">
                                                        @*<input type="text" class="form-control" id="txt2Opts12" value="@ViewBag.Opts12" />*@
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th scope="row" colspan="6" style="height:50%;width:55%">
                                                        <div id="chartContainerPie" class="containerPie">
                                                            <canvas id="myChart"> </canvas>
                                                        </div>
                                                    </th>
                                                    <th scope="row" colspan="6" style="height:100%;width:100%">
                                                        <div id="chartContainerLine" class="containerLine">
                                                            <canvas id="myChartLine"> </canvas>
                                                        </div>
                                                    </th>
                                                </tr>
                                                @*<tr>
                                                        <th scope="row" colspan="6" style="height:50%;width:50%">
                                                            <div id="chartContainer" class="container">
                                                                <canvas id="myChartPie"> </canvas>
                                                            </div>
                                                        </th>
                                                    </tr>*@

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="customChat col-md-3 pull-right">
            @Html.HiddenFor(x => x.Chat.Notification)
                    <!-- DIRECT CHAT SUCCESS -->
                    <div class="box box-success direct-chat direct-chat-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">@Html.DisplayFor(x => x.Chat.ReceiverNm)</h3>
                            <div class="box-tools pull-right">
                                <span data-toggle="tooltip" title="@Html.DisplayFor(x=>x.Chat.Notification)" class="badge bg-green" id="">@Html.DisplayFor(x => x.Chat.Notification)</span>
                                <button class="btn btn-box-tool" data-widget="collapse" id="ChatButton"><i class="fa fa-minus"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body customContent">
                            <!-- Conversations are loaded here -->
                            @Html.Partial("~/Views/Shared/_ChatBox.cshtml")
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <form action="#" method="post">
                                <div class="input-group">
                                    <input type="text" id="chatMessageBox" placeholder="Type Message ..." class="form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success btn-flat">Send</button>
                                    </span>
                                </div>
                            </form>
                        </div><!-- /.box-footer-->
                    </div><!--/.direct-chat -->
                </div>
        </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        GenerateRuntimeLineGraph();
        GenerateRuntimeBarGraph(); 
        scrollDown(); 
         
    }); 

    $('.btn-flat').click(function () {  
        timeout = setTimeout(scrollDown, 2000); 
    });

    $('#chatMessageBox').keydown(function (e) {
        if (e.keyCode == 13) { 
            timeout = setTimeout(scrollDown, 2000); 
        }
    });

    function scrollDown() {
        $('.customContent').scrollTop(10000000000000);
    }

    function GenerateRuntimeBarGraph() {

        var opts1 = $('#txt2Opts1').val();
        var opts2 = $('#txt2Opts2').val();
        var opts3 = $('#txt2Opts3').val();
        var opts4 = $('#txt2Opts4').val();
        var opts5 = $('#txt2Opts5').val();
        var opts6 = $('#txt2Opts6').val();
        var opts7 = $('#txt2Opts7').val();
        var opts8 = $('#txt2Opts8').val();
        var opts9 = $('#txt2Opts9').val();
        var opts10 = $('#txt2Opts10').val();


        //setting default values
        if (opts1 == "") {
            opts1 = 0;
        }
        if (opts2 == "") {
            opts2 = 0;
        }
        if (opts3 == "") {
            opts3 = 0;
        }
        if (opts4 == "") {
            opts4 = 0;
        }
        if (opts5 == "") {
            opts5 = 0;
        }
        if (opts6 == "") {
            opts6 = 0;
        }
        if (opts7 == "") {
            opts7 = 0;
        }
        if (opts8 == "") {
            opts8 = 0;
        }
        if (opts9 == "") {
            opts9 = 0;
        }
        if (opts10 == "") {
            opts10 = 0;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("NewBarChart", "Management")',
            data: JSON.stringify({
                "strOpts1": "opts1",
                "strOpts2": "opts2",
                "strOpts3": "opts3",
                "strOpts4": "opts4",
                "strOpts5": "opts5",
                "strOpts6": "opts6",
                "strOpts7": "opts7",
                "strOpts8": "opts8",
                "strOpts9": "opts9",
                "strOpts10": "opts10",
                opts1: opts1,
                opts2: opts2,
                opts3: opts3,
                opts4: opts4,
                opts5: opts5,
                opts6: opts6,
                opts7: opts7,
                opts8: opts8,
                opts9: opts9,
                opts10: opts10
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (chData) {
                var aData = chData;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];

                //For Bar Chart
                var ctx = document.getElementById("myChart").getContext('2d');
                ctx.height = 900;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    height: "230px",
                    width: "300px",
                    autoSkip: false,
                    responsive: false,
                    animation: false,
                    showDatapoints: true,
                    legend: { position: 'bottom' },
                    data: {
                        labels: ["@ViewBag.Top1", "@ViewBag.Top2", "@ViewBag.Top3", "@ViewBag.Top4", "@ViewBag.Top5", "@ViewBag.Top6", "@ViewBag.Top7", "@ViewBag.Top8", "@ViewBag.Top9", "@ViewBag.Top10"],
                        datasets: [{
                            label: 'Most sold product',
                            data: [opts1, opts2, opts3, opts4, opts5, opts6, opts7, opts8, opts9, opts10],
                            backgroundColor: ["#f39c12", "#00C0EF", "#00a65a", "#dd4b39", "#5e0e04", "#3e0548", "#f39c12", "#00C0EF", "#00a65a", "#dd4b39"]
                        }]
                    }, options: {
                        events: ['click'],
                        scaleShowValues: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    autoSkip: false
                                }
                            }]
                        }
                    }
                });


            },
            "error": function (data) {
                alert("Some Error Occured!");
            }
        });
    }
    function GenerateRuntimeLineGraph() {

        var opts1 = $('#txtOpts1').val();
        var opts2 = $('#txtOpts2').val();
        var opts3 = $('#txtOpts3').val();
        var opts4 = $('#txtOpts4').val();
        var opts5 = $('#txtOpts5').val();
        var opts6 = $('#txtOpts6').val();
        var opts7 = $('#txtOpts7').val();
        var opts8 = $('#txtOpts8').val();
        var opts9 = $('#txtOpts9').val();
        var opts10 = $('#txtOpts10').val();
        var opts11 = $('#txtOpts11').val();
        var opts12 = $('#txtOpts12').val();

        //setting default values
        if (opts1 == "") {
            opts1 = 0;
        }
        if (opts2 == "") {
            opts2 = 0;
        }
        if (opts3 == "") {
            opts3 = 0;
        }
        if (opts4 == "") {
            opts4 = 0;
        }
        if (opts5 == "") {
            opts5 = 0;
        }
        if (opts6 == "") {
            opts6 = 0;
        }
        if (opts7 == "") {
            opts7 = 0;
        }
        if (opts8 == "") {
            opts8 = 0;
        }
        if (opts9 == "") {
            opts9 = 0;
        }
        if (opts10 == "") {
            opts10 = 0;
        }
        if (opts11 == "") {
            opts11 = 0;
        }
        if (opts12 == "") {
            opts12 = 0;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("NewLineChart", "Management")',
            data: JSON.stringify({
                "strOpts1": "opts1",
                "strOpts2": "opts2",
                "strOpts3": "opts3",
                "strOpts4": "opts4",
                "strOpts5": "opts5",
                "strOpts6": "opts6",
                "strOpts7": "opts7",
                "strOpts8": "opts8",
                "strOpts9": "opts9",
                "strOpts10": "opts10",
                "strOpts11": "opts11",
                "strOpts12": "opts12",
                opts1: opts1,
                opts2: opts2,
                opts3: opts3,
                opts4: opts4,
                opts5: opts5,
                opts6: opts6,
                opts7: opts7,
                opts8: opts8,
                opts9: opts9,
                opts10: opts10,
                opts11: opts11,
                opts12: opts12
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (chData) {
                var aData = chData;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];


                //For Line Chart
                var ctx = document.getElementById("myChartLine").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    height: "230px",
                    width: "300px",
                    responsive: false,
                    animation: false,
                    legend: { position: 'bottom' },
                    data: {
                        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                        datasets: [{
                            label: 'Monthly Total Sales',
                            data: [opts1, opts2, opts3, opts4, opts5, opts6, opts7, opts8, opts9, opts10, opts11, opts12],
                            backgroundColor: ["#f39c12", "#00C0EF", "#00a65a", "#dd4b39", "#5e0e04", "#3e0548", "#f39c12", "#00C0EF", "#00a65a", "#dd4b39", "#5e0e04", "#3e0548"]
                        }]
                    }, options: {
                        events: ['click'],
                        scaleShowValues: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    autoSkip: false
                                }
                            }]
                        }
                    }
                });

            },
            "error": function (data) {
                alert("Some Error Occured!");
            }
        });
    }

</script>
<style type="text/css">
    label {
        font-weight: normal;
        font-size: 11px;
        vertical-align: middle;
    }

    body {
        color: black;
    }

    textbox {
        font-weight: normal;
        font-size: 11px;
        vertical-align: middle;
        color: black;
    }

    .form-control, select {
        font-weight: normal;
        font-size: 11px;
    }

    .container {
        width: 80%;
        margin: 15px auto;
        color: black;
    }

    .customChat {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .direct-chat-messages { 
        height: auto; 
    }
    .customChatBox {
        float: right;
        height: 250px;
        width: 250px;
        padding: 3px; 
    }

    .customContent {
        height: 224px;
        overflow: auto; 
    }
</style>

