@model POSSystem.ViewModel.MonitoringViewModel


@{
    ViewBag.Title = "Category Management";
}
@section Breadcrumbs{
    <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li>Worklist</li>
    <li class="active">Category Management</li>
}


@if (ViewBag.Status != null)
{
    if (ViewBag.Status == "0")
    {
        <div class="callout callout-danger">
            <h4>Warning!</h4>
            <p>
                @Html.Raw(ViewBag.Message)
            </p>
        </div>
    }
    else
    {
        <div class="callout callout-success">
            <h4>Success!</h4>
            <p>
                @Html.Raw(ViewBag.Message)
            </p>
        </div>
    }
}

@using (Html.BeginForm("CategoryManagement", "Management", FormMethod.Post, new { area = "", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.ActionButton)
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Category Management&nbsp;</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-header with-border">
            <div class="btn-box-tool">
                <button id="btnAddLine" type="button" class="btn btn-info btn-sm pull-left" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-request-details" style="width: 150px">Add Category</button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-condensed dataTable" id="listCategory">
                        <thead>
                            <tr>
                                <th width="50%">Product Category</th>
                                <th width="50%">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.listCategory.Count > 0)
                            {
                                for (int i = 0; i < Model.listCategory.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @Model.listCategory[i].CategoryDesc
                                        </td>
                                        <td>
                                            @Model.listCategory[i].IsActive
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2">No items to display.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div style="display:none;">
        <button type="submit" id="btnSubmitForm"></button>
    </div>

    <div class="modal modal-default fade" id="modal-request-details">
        <div class="modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Category
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 form-horizontal">
                                    <div class="form-group" id="divCADetailsActivityDate">
                                        <label class="control-label input-sm col-md-2">Category Name<span class="text-red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(x => x.Category.CategoryDesc, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-horizontal">
                                    <div class="form-group" id="divCADetailsActivityDate">
                                        <label class="control-label input-sm col-md-2">Category Description<span class="text-red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(x => x.Category.CategoryDesc2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-horizontal">
                                    <div class="form-group" id="divCADetailsActivityDate">
                                        <label class="control-label input-sm col-md-2">Status<span class="text-red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.Category.IsActive, Model.StatusList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left btnCloseDetails" data-dismiss="modal" style="width: 120px">Close</button>
                    <button class="btn btn-info btn-sm" type="button" id="btnAddDetails" style="width: 120px">Add Category</button>
                </div>
            </div>
        </div>
    </div>
}
<!--Form Default-->
<div class="modal fade" id="modal-confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Message from WebPage</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left modalClose" data-dismiss="modal">Close</button>
                <button id="modalYes" type="button" class="btn btn-primary" data-dismiss="modal">Proceed</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-alert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Message from WebPage</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left modalClose" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<style type="text/css">
    .loadinggif {
        background: url('@Url.Content("~/Content/img/ui-anim-loading.gif")') no-repeat right;
    }

    .modalload {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alphaopacity=80;
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999999;
    }

    .align-amount{
        text-align:right;
    }
</style>

<div class="loading" align="center">
    Loading. Please wait.<br />
    <br />
    <img src='@Url.Content("~/Content/img/loading.gif")' />
</div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap-dt.net/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-dt/dataTables.bootstrap.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-dt/dataTables.bootstrap.css")">

<script type="text/javascript">
    function ShowProgress() {
        setTimeout(function () {
            var modal = $('<div />');
            modal.addClass("modalload");
            $('body').append(modal);
            var loading = $(".loading");
            loading.show();

            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ top: top, left: left });
        }, 200);
    }

    function SystemMessage(message) {
        $("#modal-alert > .modal-dialog > .modal-content > .modal-body").html("<p>" + message + "</p>");
        $('#modal-alert').modal('show');
    }
    function confirmation(title, message, runFunction) {
        $("#modal-confirmation > .modal-dialog > .modal-content > .modal-header > .modal-title").html(title);
        $("#modal-confirmation > .modal-dialog > .modal-content > .modal-body").html("<p>" + message + "</p>");
        $("#modal-confirmation").modal();
        $("#modalYes").click(function () {
            ShowProgress();
            eval(runFunction);
            return true;
        });
        $('#modal-confirmation').on('hidden.bs.modal', function (e) {
            e.preventDefault();
            return false;
        })
    }

</script>
<script type="text/javascript">
    $(document).ready(function () { 
        $('#listCategory').DataTable();

        if ('@ViewBag.Status' ==  "1") {
            window.location.href = '@Url.Action("CategoryManagement", "Management", new { area = "" })';
            $('#ActionButton').val('');
        } 
    });
    $('#btnAddDetails').click(function () {
        confirmation("Confirm Request", "Do you want to proceed?", "$('#btnSubmitForm').click()");
    })
    $('#btnSubmitForm').click(function () {
        $('#ActionButton').val('Post');
    });
</script>